<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UCL</title>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/jQuery.flashMessage.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
</head>
<body>
    <div class="navbar navbar-expand-sm bg-dark fixed-top py-0">
        <div class="container">
            <div>
                @Html.ActionLink("Unicollege", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-white" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Users", "Index", "User", null, new { @class = "nav-link text-white" })</li>
                    <li class="nav-item">@Html.ActionLink("Programmes", "Index", "Programme", null, new { @class = "nav-link text-white" })</li>
                    <li class="nav-item">@Html.ActionLink("Faculties", "Index", "Faculty", null, new { @class = "nav-link text-white" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link text-white" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link text-white" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        @RenderBody()

        <footer>
            <div class="fixed-bottom card-footer bg-dark footer-copyright text-light text-center py-1">
                Copyright &copy; 2018 - UCL
            </div>
        </footer>
    </div>

</body>
</html>
